@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    #outerContainer {
      width: 100% !important;
    }
}
body {
  /*font-family: 'Droid Serif', serif !important;*/
  padding-bottom: 2em;
}

.criteria0, .criteria1 {
    border: 2px solid rgba(205, 205, 205, .6);
}

.criteria0 {
    background-color: rgba(151, 110, 8, .7);
}

.criteria1 {
    background-color: rgba(9, 71, 95, .7);
}

.Evaluation{
    border: 3px solid #cdcdcd;
    border-radius: 4px;
    background: transparent;
}

.evalHeader {
    font-weight: 700;
    border-bottom: 3px solid #cdcdcd;
    padding-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.sexy_line{
  display: block;
  margin: 50px 0;
  border: none;
  color: white;
  height: 1px;
  background: black;
  background: moz-radial-gradient(black 20%, #f2efef 70%);
  background: webkit-radial-gradient(black 20%, #f2efef 70%);
  background: radial-gradient(black 20%, #f2efef 70%);

}

#outerContainer {
    /*padding-top: 12em !important;*/
    padding-bottom: 2em !important;
}
.container {
    position: relative;
    border: solid darkgray 2px;
    border-top: none;
    border-radius: 4px;
    background-color:  #ececec;
    margin: 0 auto;
    overflow: hidden;
}
#limit {
    margin-top: 2em;
}
#header_container {
    display: inline-block;
    top: 0;
    margin: 0 auto;
    background-color: #ECECEC;
    z-index: 1000;
    padding: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: visible !important;
}
#header_banner {
    display: inline-block;
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
#header_banner * {
    max-height: 160px;
}
.nav > li > a:hover {
    background-color: rgba(0, 0, 0, 0.3) !important;
}
.navbar-nav > li > .dropdown-menu {
    background-color: #00516f;
    margin-left: 5%;
    font-size: 1.15em;
    z-index: 2000 !important;
}

#Logo {
    float: right;
}
.btn-opblue,
.btn-opblue:hover,
.btn-opblue:focus,
.btn-opblue:active,
.btn-opblue.active {
  color: #ffffff !important;
  background-color: #00678f !important;
  border-color: #00678f !important;
}

.btn-opblue:hover {
  background-color: #0089bd !important;
  border-color: #0089bd !important;
}

.fullWidth {
    width: 100%;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.nopaddingStrict {
    padding: 0 !important;
}

.smpadding {
    padding: 5px !important;
    margin: 5px !important;
}

.OPBlue {
    background: #0089bd;
}

.OPBlueD1 {
    background: #00678f;
}

.OPBlueD2 {
    background: #00516f;
}

.OPOrange {
    background: #f9761d;
}

.OPOrangeD1 {
    background: #cd5504;
}

.OPOrangeD2 {
    background: #a24200;
}

.whiteText {
    color: #FFF !important;
}

.grayText {
    color: darkgray !important;
}

nav {
    border-radius:0 !important;
}

.smPadTop{
    padding-top:2px;
}
.mdPadTop{
    padding-top:15px;
}
.lgPadTop{
    padding-top:25px;
}
.smPadRight{
    padding-right:2px;
}
.mdPadRight{
    padding-right:15px;
}
.lgPadRight{
    padding-right:25px;
}
.smPadBot{
    padding-bottom:2px;
}
.mdPadBot{
    padding-bottom:15px;
}
.lgPadBot{
    padding-bottom:25px;
}
.smPadLeft{
    padding-left:2px;
}
.mdPadLeft{
    padding-left:15px;
}
.lgPadLeft{
    padding-left:25px;
}

.dragBox {
    line-height: 1.5em;
    resize: none;
    height: 160px;
}

a.current {
    background: rgba(255, 255, 255, .3);
}

fieldset {
    font-weight: bold;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.btnCurrent {
    background: #f9751d !important;
    border-color: #f9751d !important;
}

.Part {
    margin-bottom: 10px;
}
#instructionsToggleContainer {
    cursor: pointer;
}
.instruction {
    display: none;
}
#submitDatesLoader {
    margin: 1em 0;
    text-align: center;
    color: #aaaaaa;
    font-weight: normal;
    width: 100%;
}
#submitDatesLoader i {
    font-size: 1.5em;
}

#insertSelection {
    min-height: 150px;
    display: inline-block;
    height: auto;
    min-width: 100%;
}
#addNewUserButton {
    cursor: pointer;
}

.NavCol {
    min-height: 400px !important;
    max-height: 400px !important;
    overflow-y:auto;
    overflow-x: hidden;
    height: auto;
}

.Draggable{
  cursor: grab;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ScenarioTitle {
    height: 45px;
}

#Scenarios {
    min-height: 400px;
}
.ScenarioCol {
    /*-webkit-box-shadow:inset  0px 0px 0px 1px #cacaca;
      -moz-box-shadow:inset 0px 0px 0px 1px #cacaca;
      box-shadow:inset 0px 0px 0px 1px #cacaca;*/
    border: 2px solid #cacaca;
    border-radius: 1px;
    height: 600px;
    overflow-y: auto;
    overflow-x: hidden !important;
    background: #d9dbda;
    display: inline-block;
    max-height: 650px;
    padding-bottom: 1em;
}

.ScenarioBlock {
    background: lightgrey;
    border-radius: 5px;
    border: 3px solid #FFFFFF;
}
#UsersSubmit {
  min-height: 250px;
  height: auto;
  z-index: 1;

}

#Users {
  min-height: 400px;
  padding-left: 3%;
  border: 2px solid #cacaca;
  border-radius: 1px;
  background: #d9dbda;
  margin-top: 10px;
}
#unwantedUsers {
    height: 455px;
    overflow: hidden;
}
#storedUsers {
    border: 2px solid #cacaca;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 357px;
}
#userListHeader {
    height: 50px;
    line-height: 40px;
    border-bottom: 1px solid #aaaaaa;
    overflow: hidden;
    padding: 5px;
}
#userList {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 400px;
  padding-left: 15%
}
#findUser {
    cursor: pointer;
}
#userListFooter {
    background: #d9dbda;
    border: 3px solid #cacaca;
    border-radius: 5px;
    padding-bottom: 10px;
}

.comment {
    box-shadow: inset 0px 0px 20px 10px rgba(130, 130, 130, .2);
    background: #f7f7f7;
}

.OPEN {
    box-shadow: inset 0px 0px 20px 10px rgba(42, 111, 55, .6);
}

.CLOSED {
    box-shadow: inset 0px 0px 20px 10px rgba(130, 130, 130, .6);
}

.ticket:hover {
    box-shadow: inset 0px 0px 20px 10px rgba(34, 182, 232, .8);
    cursor: pointer;
}

.student {
    background: #0087bd !important;
    border-radius: 4px;
    color: white;
    margin: 2px;
    font-variant: small-caps;
    padding: 4px 0px;
    margin: 3px 10px;
}

.neutral {
    background: darkgray !important;
    border-radius: 4px;
    color: white;
    margin: 2px 5px;
    font-variant: small-caps;
    padding: 2px 0px;

}

.instructor {
    background: #f9761d !important;
    border-radius: 4px;
    color: white;
    margin: 2px;
    font-variant: small-caps;
    padding: 4px 0px;
    margin: 3px 10px;
}

.ticket {
    margin: 5px 0;
}

.picture {
    max-height: 75px;
}

#alterForm, #comments {
    max-height: 700px;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-button {
    width: 8px;
    height:5px;
}

::-webkit-scrollbar-track {
    background:#eee;
    border: thin solid lightgray;
    box-shadow: 0px 0px 3px #dfdfdf inset;
    border-radius:10px;
}

::-webkit-scrollbar-thumb {
    background:#999;
    border: thin solid gray;
    border-radius:10px;
}

::-webkit-scrollbar-thumb:hover {
    background:#7d7d7d;
}

.hidden {
    display:none;
}

.sessionTitle {
  font-weight: bold;
  text-decoration: underline;
  padding: 5px 0px;
  background: #333333;
  color: white;
  border-radius: 2px;
}

#NavigateLeft, #NavigateRight {
  line-height: 400px;
  border: none;
  box-shadow: none;
}

.edited {
  border: solid 2px rgba(155, 8, 165, .50);
}

.instructorDrop, .studentDrop {
  position: absolute;
  height: 48%;
  width: 95%;
  margin-left: 2.5%;
  z-index: 2;
  opacity: .25;
}

.studentDrop {
    top: 50%;
}

.instructorDropHighlight {
  color: #f9761d;
  border: 3px solid #f9761d;
  border-radius: 5px;
  opacity: .80;
}

.studentDropHighlight {
  color: #0089bd;
  border: 3px solid #0089bd;
  border-radius: 5px;
  opacity: .80;
}

.storeDropHighlight {
  background: #eaeaea;
  border: 3px solid #eaeaea;
  border-radius: 5px;
  opacity: .80;
}

.removeDropHighlight {
  background: rgba(188, 9, 34, .4);
}

.Attendance {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 3px;
    display: block;
}
.Present, .Absent {
  position: relative;
  display: inline-block;
  width: 50%;
  z-index: 10;
  height: 100%;
  opacity: 0;
  border-radius: 4px;
  cursor: pointer;
}

.Absent {
  right: 0%;
}

.Present {
  left: 0%;
}

.Present:hover, .Absent:hover {
    color: white;
    opacity: 1;
}

/* Parent hover handled in conferencing.js */
.Present:hover {
  background-color: #008C34;
  border: 2px solid #008C34;
}

/* Parent hover handled in conferencing.js */
.Absent:hover {
  background-color: #BC0922;
  border: 2px solid #BC0922;
}

.icon {
  position: absolute;
  display: none;
  left: 3%;
  top: 25%;
  font-size: 1.2em !important;
}
.sweet-alert .icon {
    display: none !important;
}
.person {
  text-overflow: ellipsis !important;
  white-space: nowrap;
  overflow: hidden;
}

#removeDrop {
  line-height: 45px;
  border: 3px solid #BC0922;
  border-radius: 5px;
  height: 50px;
  font-weight: 600;
  color: #BC0922;
}

#Sessions {
  overflow-y: scroll;
    max-height: 550px;
    border: 4px solid #cacaca;
    border-radius: 9px;
    background: #cacaca;
}

#Sessions > div {
  border: 4px solid #cacaca;
  border-radius: 9px;
}

#Sessions > div:nth-child(2n+3), #Sessions > div:first-child {
  background: rgba(249, 118, 29, .5);
}

#Sessions > div:nth-child(2n)  {
  background: rgba(0, 137, 190, .5);
}

#backups > div:nth-child(2n+3), #backups > div:first-child {
    background: rgba(249, 118, 29, .5);
    cursor: pointer;
}

#backups > div:nth-child(2n)  {
    background: rgba(0, 137, 190, .5);
    cursor: pointer;
}

#sessParent {
  background: #d9dbda;
  border-radius: 5px;
  margin-bottom: 2%;
}

[data-notify="progressbar"] {
    margin-bottom: 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 5px;
}
